/* 
programmer = keith Murphy
file = styles.scss
date Created = 9-9-2015
last Mod = 9-15-2015
*/
/*----import SCSS files----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body {
  min-height: 100%; }

a {
  text-decoration: none; }

.displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.floatLeft {
  float: left; }

.clearBoth {
  clear: both; }

.menuButton {
  display: block;
  padding: 1em;
  text-align: center; }

/*------start Fonts----*/
@font-face {
  font-family: josefinRegular;
  src: url("../_/fonts/josefin_regular.ttf"); }
@font-face {
  font-family: josefinBold;
  src: url("../_/fonts/josefin_bold.ttf");
  font-weight: bold; }
/*---------font-awesome----*/
/*---------General Styles---*/
.relativePosition {
  position: relative; }

.seventyFivePercentWidth {
  width: 75%; }

/*-----Boostrap overwrites---*/
a:hover {
  text-decoration: none; }

/*---Start Nav functions--*/
.main-header {
  /* background: linear-gradient(#3F94BF, #246485); */
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  z-index: 100; }
  .main-header div.close-menu,
  .main-header div.open-menu {
    position: absolute;
    left: 95%;
    top: 20px;
    color: white;
    font-size: 32px;
    cursor: pointer; }

.page-wrap {
  float: right;
  width: 100%;
  -webkit-transition: width 1s ease;
          transition: width 1s ease; }

.hiddenContent {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #353535;
  overflow-y: auto;
  -webkit-transition: width 1s ease;
          transition: width 1s ease;
  z-index: 99; }
  .hiddenContent h3 {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    text-align: center;
    margin: 0 auto; }
  .hiddenContent h3:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .5s ease, background-color .5s ease;
            transition: width .5s ease, background-color .5s ease; }
  .hiddenContent h3:hover:after {
    width: 100%;
    background: #009E8E; }
  .hiddenContent a {
    font-family: 'Source Code Pro';
    font-weight: bold;
    display: block;
    color: white;
    font-size: 3em;
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    line-height: 1.5em; }
    .hiddenContent a:hover, .hiddenContent a:focus {
      color: #009E8E; }
  .hiddenContent .displayFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hiddenContent .displayFlex > div {
    width: 90%;
    margin: 5% auto 1%;
    text-align: center;
    line-height: 0; }
  .hiddenContent .HiddenSocial {
    text-align: center; }
    .hiddenContent .HiddenSocial hr {
      width: 50%; }
    .hiddenContent .HiddenSocial a {
      font-size: 3em;
      display: inline-block;
      margin: 0 1%; }
  .hiddenContent .icon {
    display: block;
    margin: 0 auto; }
  .hiddenContent .portfolioMenuIconTwo {
    position: absolute;
    left: 28%;
    top: 0; }
  .hiddenContent h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 2%; }
  .hiddenContent p {
    color: white;
    padding: 4%;
    font-size: 1.25em; }

.close-menu {
  display: none; }

#sectionOne .audioVideoControls {
  width: 100%;
  height: 9%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(62, 59, 59, 0.45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  #sectionOne .audioVideoControls .fa-play:hover:before {
    color: #fff; }
  #sectionOne .audioVideoControls .fa-play:before {
    font-size: 2em;
    color: #FFA500;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  #sectionOne .audioVideoControls .fa-pause:before {
    font-size: 2em;
    color: #FFA500;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  #sectionOne .audioVideoControls .fa-pause:hover:before {
    color: #fff; }
  #sectionOne .audioVideoControls .fa-stop:before {
    font-size: 2em;
    color: #FFA500;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  #sectionOne .audioVideoControls .fa-stop:hover:before {
    color: #fff; }
#sectionOne .audioVideoControls > div {
  margin: 2%; }
#sectionOne .audioVideoControls p {
  color: #ffffff;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5); }
#sectionOne .progressbarContainer {
  background-color: #e0e0e0;
  height: 7px;
  width: 256px;
  border-radius: 2px; }
#sectionOne .audioVideoBar {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #1384bb;
  height: 7px;
  width: 0; }
#sectionOne .audioVideoMenuButton {
  width: 7%;
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: -3%;
  z-index: 10; }

#sectionTwo {
  position: relative;
  z-index: 200; }
  #sectionTwo .sectionTwoAnimations {
    margin: 0 5%;
    width: 90%; }
    #sectionTwo .sectionTwoAnimations #sectionTwoSVG {
      margin: 5% auto; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st0 {
        display: none; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st1 {
        display: inline;
        fill: #FFA500;
        stroke: #055555;
        stroke-width: 10;
        stroke-miterlimit: 10; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st2 {
        fill: none;
        stroke: #055555;
        stroke-width: 10;
        stroke-miterlimit: 10; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st3 {
        fill: none;
        stroke: #555555;
        stroke-width: 10;
        stroke-miterlimit: 10; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st4 {
        font-family: josefinRegular, Arial, Helvetica, sans-serf;
        fill: #055555; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st5 {
        font-size: 50px;
        color: #555555; }
      #sectionTwo .sectionTwoAnimations #sectionTwoSVG .st6 {
        font-size: 100px;
        color: #555555; }

* {
  box-sizing: border-box; }

html, body {
  min-height: 100%; }

a {
  text-decoration: none; }

.displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.floatLeft {
  float: left; }

.clearBoth {
  clear: both; }

.menuButton {
  display: block;
  padding: 1em;
  text-align: center; }

/*------start Fonts----*/
@font-face {
  font-family: josefinRegular;
  src: url("../_/fonts/josefin_regular.ttf"); }
@font-face {
  font-family: josefinBold;
  src: url("../_/fonts/josefin_bold.ttf");
  font-weight: bold; }
/*---------font-awesome----*/
/*---------General Styles---*/
.relativePosition {
  position: relative; }

.seventyFivePercentWidth {
  width: 75%; }

/*-----Boostrap overwrites---*/
a:hover {
  text-decoration: none; }

#sectionThree {
  position: relative; }
  #sectionThree .homePageThreeImgsDiv {
    min-width: 100%; }
  #sectionThree h2 {
    margin: 5% auto 2%;
    color: #fff;
    text-align: center;
    font-size: 3em;
    font-family: josefinRegular, Arial, Helvetica, sans-serf; }
  #sectionThree h3 {
    font-size: 2em;
    color: #fff; }
  #sectionThree p {
    font-size: 1.25em;
    color: #fff; }
  #sectionThree img {
    width: 100%; }
  #sectionThree .container-fluid {
    margin-top: 5%; }
  #sectionThree .seventyFivePercentWidth {
    margin: 10% auto; }
  #sectionThree .col-md-6 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  #sectionThree .overlay1,
  #sectionThree .overlay2,
  #sectionThree .overlay3 {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 998;
    opacity: 0; }
  #sectionThree .homeFeaturedOne {
    cursor: pointer;
    z-index: 1000; }
  #sectionThree .homeFeaturedTwo {
    z-index: 1000;
    cursor: pointer; }
  #sectionThree .homeFeaturedThree {
    cursor: pointer;
    z-index: 1000; }

/*-------end flippers Styles---*/
