/* 
programmer = keith Murphy
file = styles.scss
date Created = 9-9-2015
last Mod = 9-15-2015
*/
/*----import SCSS files----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body {
  min-height: 100%; }

a {
  text-decoration: none; }

.displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.floatLeft {
  float: left; }

.clearBoth {
  clear: both; }

.menuButton {
  display: block;
  padding: 1em;
  text-align: center; }

/*------start Fonts----*/
@font-face {
  font-family: josefinRegular;
  src: url("../_/fonts/josefin_regular.ttf"); }
@font-face {
  font-family: josefinBold;
  src: url("../_/fonts/josefin_bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: fontawesome;
  src: url("../_/css/font-awesome.min.css"); }
/*---------font-awesome----*/
/*---------General Styles---*/
.relativePosition {
  position: relative; }

/*---Start Nav functions--*/
.main-header {
  /* background: linear-gradient(#3F94BF, #246485); */
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  z-index: 100; }
  .main-header a {
    position: absolute;
    left: 95%;
    top: 20px;
    color: white;
    font-size: 32px; }

.page-wrap {
  float: right;
  width: 100%;
  -webkit-transition: width 1s ease;
          transition: width 1s ease; }

.hiddenContent {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #353535;
  overflow-y: auto;
  -webkit-transition: width 1s ease;
          transition: width 1s ease;
  z-index: 99; }
  .hiddenContent a {
    display: block;
    color: white;
    padding: 1em; }
  .hiddenContent .displayFlex > div {
    width: 30%;
    margin: 2% auto;
    display: block;
    position: relative; }
  .hiddenContent :last-child {
    margin: 0 5% 0 0; }
  .hiddenContent .icon {
    display: block;
    margin: 0 auto; }
  .hiddenContent .portfolioMenuIconTwo {
    position: absolute;
    left: 28%;
    top: 0; }
  .hiddenContent h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 2%; }
  .hiddenContent p {
    color: white;
    padding: 4%;
    font-size: 1.25em; }

.close-menu {
  display: none; }

#hiddenContent:target {
  width: 100%; }

#hiddenContent:target + .page-wrap {
  width: 100%; }
  #hiddenContent:target + .page-wrap .open-menu {
    display: none; }
  #hiddenContent:target + .page-wrap .close-menu {
    display: block; }
  #hiddenContent:target + .page-wrap .main-header {
    width: 80%;
    left: 20%; }

#sectionOne .audioVideoControls {
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(62, 59, 59, 0.45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  #sectionOne .audioVideoControls .fa-play:hover:before {
    color: #fff; }
  #sectionOne .audioVideoControls .fa-play:before {
    font-size: 2em;
    color: #FFA500;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  #sectionOne .audioVideoControls .fa-pause:before {
    font-size: 2em;
    color: #FFA500;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  #sectionOne .audioVideoControls .fa-pause:hover:before {
    color: #fff; }
  #sectionOne .audioVideoControls .fa-stop:before {
    font-size: 2em;
    color: #FFA500;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  #sectionOne .audioVideoControls .fa-stop:hover:before {
    color: #fff; }
#sectionOne .audioVideoControls > div {
  margin: 2%; }
#sectionOne .audioVideoControls p {
  color: #ffffff;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5); }
#sectionOne .progressbarContainer {
  background-color: #e0e0e0;
  height: 7px;
  width: 256px;
  border-radius: 2px; }
#sectionOne .audioVideoBar {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #1384bb;
  height: 7px;
  width: 0; }
#sectionOne .audioVideoMenuButton {
  width: 7%;
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: -3%;
  z-index: 10; }

#sectionTwo {
  position: relative;
  z-index: 200; }
  #sectionTwo .sectionTwoAnimations {
    position: relative;
    height: 100vh;
    width: 100%; }
    #sectionTwo .sectionTwoAnimations h2 {
      font-family: josefinRegular, Arial, Helvetica, sans-serf;
      color: #555;
      width: 100%;
      height: auto;
      display: block;
      font-size: 6em;
      opacity: 0;
      -webkit-transform: translateX(2000px);
          -ms-transform: translateX(2000px);
              transform: translateX(2000px); }
    #sectionTwo .sectionTwoAnimations :nth-child(1) {
      position: relative;
      height: 50vh; }
    #sectionTwo .sectionTwoAnimations :nth-child(1) div:nth-child(3) {
      position: absolute;
      left: 45%;
      top: 45%;
      z-index: 230; }
    #sectionTwo .sectionTwoAnimations .homePageTwoHexTriangle {
      width: 100%;
      height: auto;
      display: block; }
    #sectionTwo .sectionTwoAnimations :nth-child(1) div:nth-child(2) {
      position: absolute;
      top: 44%;
      left: 32%;
      z-index: 220; }
    #sectionTwo .sectionTwoAnimations .homePageTwoTitleBullet {
      width: 100%;
      height: auto;
      display: block; }
    #sectionTwo .sectionTwoAnimations :nth-child(1) div:nth-child(1) {
      z-index: 210;
      position: absolute;
      top: 20%;
      left: 5%; }
    #sectionTwo .sectionTwoAnimations .homePageAnimationSectionTwo {
      position: relative;
      float: left;
      margin: -5% 0 0 35%;
      width: 100%;
      height: 400px; }
    #sectionTwo .sectionTwoAnimations .homePageTwoBulletLines {
      width: 100%;
      height: auto;
      display: block; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(1) {
      position: absolute;
      z-index: 240;
      height: auto; }
    #sectionTwo .sectionTwoAnimations .homePageTwoSmallHeaderHexOne {
      width: 100%;
      height: auto;
      display: block; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(2) {
      position: absolute;
      display: block;
      z-index: 250;
      height: auto;
      top: -30px;
      left: 60px; }
    #sectionTwo .sectionTwoAnimations .homePageTwoSmallHeaderHexTwo {
      width: 100%;
      height: auto;
      display: block; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(3) {
      position: absolute;
      top: 145px;
      left: 60px;
      z-index: 260;
      height: auto; }
    #sectionTwo .sectionTwoAnimations .homePageTwoSmallHeaderHexThree {
      width: 100%;
      height: auto;
      display: block; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(4) {
      position: absolute;
      top: 320px;
      left: 60px;
      z-index: 270;
      height: auto; }
    #sectionTwo .sectionTwoAnimations h3 {
      font-size: 3em;
      font-family: josefinRegular, Arial, Helvetica, sans-serf;
      color: #555; }
    #sectionTwo .sectionTwoAnimations .homePageTwoH3One {
      height: auto;
      width: 100%; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(5) {
      position: absolute;
      z-index: 280;
      height: auto;
      left: 150px;
      top: -15px; }
    #sectionTwo .sectionTwoAnimations .homePageTwoH3Two {
      height: auto;
      width: 100%; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(6) {
      position: absolute;
      z-index: 290;
      width: 100%;
      height: auto;
      top: 163px;
      left: 150px; }
    #sectionTwo .sectionTwoAnimations .homePageTwoH3Three {
      height: auto;
      width: 100%; }
    #sectionTwo .sectionTwoAnimations :nth-child(3) div:nth-child(7) {
      position: absolute;
      z-index: 300;
      width: 100%;
      height: auto;
      top: 340px;
      left: 150px; }

#sectionThree {
  position: relative; }
  #sectionThree .homePageThreeImgsDiv {
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  #sectionThree h2 {
    color: #fff; }
  #sectionThree .displayFlexImgs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin: 2% auto; }
    #sectionThree .displayFlexImgs img {
      max-width: 100%;
      height: auto; }
  #sectionThree .homePageFeaturedOne {
    margin: 0 auto;
    width: 100%;
    -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
            transform: translateX(-2000px); }
  #sectionThree .homePageFeaturedTwo {
    margin: 0 auto;
    width: 100%;
    -webkit-transform: translateY(-3000px);
        -ms-transform: translateY(-3000px);
            transform: translateY(-3000px); }
  #sectionThree .homePageFeaturedThree {
    margin: 0 auto;
    width: 100%;
    -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
            transform: translateX(-2000px); }

/*-------button flipper styles----*/
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
          perspective: 1000; }
  .flip-container p {
    text-align: center; }

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.flip-container, .front, .back {
  width: 100%; }

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
          transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: solid #fff 1px; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

/*-------end flippers Styles---*/
.homePageVisibleContent {
  padding: 0; }
  .homePageVisibleContent h2 {
    font-size: 2em;
    margin: 2% auto;
    text-align: center; }
