/*---Start Nav functions--*/

.main-header {
  /* background: linear-gradient(#3F94BF, #246485); */
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 1s ease;
  z-index:  100;
  a {
    position: absolute;
    left: 95%;
    top: 20px;
    color: white;
    font-size: 32px;
  }
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 1s ease;
}

.hiddenContent {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #353535;
  overflow-y: auto;
  transition: width 1s ease;
  z-index: 99;
  h3 {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    text-align: center;
  }
  h3:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  h3:hover:after {
    width: 20%;
    background: #009E8E;
  }
  a {
    font-family: 'Source Code Pro';
    font-weight: bold;
    display: block;
    color: white;
    font-size: 3em;
    transition: all .5s ease;
    line-height: 1.5em;
    &:hover, &:focus {
      color: #009E8E;

    }
  }
  .displayFlex {
    flex-direction: column;
  }
  .displayFlex > div {
    width: 90%;
    margin: 5% auto 1%;
    text-align: center;
    line-height: 0;
  }
  .HiddenSocial {
    text-align: center;
    hr {
      width: 50%;
    }
    a {
      font-size: 3em;
      display: inline-block;
      margin: 0 1%;
    }
  }
  .icon {
    display: block;
    margin: 0 auto;
  }
  .portfolioMenuIconTwo {
    position: absolute;
    left: 28%;
    top: 0;
  }
  h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 2%;
  }
  p {
    color: white;
    padding: 4%;
    font-size: 1.25em;
  }
} // end hiddenContent


.close-menu {
  display: none;
}

#hiddenContent:target {
  width: 100%;
}
#hiddenContent:target + .page-wrap {
  width: 100%;
  .open-menu {
    display: none;
  }
  .close-menu {
    display: block;
  }
  .main-header {
    width: 80%;
    left: 20%;
  }
}